.todoListMain .header input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid white;
    width: 165px;
}

.todoListMain .header button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    margin-right: 0px;
    background-color: lightcoral;
    color: white;
    border: 2px solid blueviolet;
}

.todoListMain .header button:hover {
    background-color: coral;
    border: 4px solid darkorchid;
    cursor: pointer;
}